<div class="col-10 offset-1 about">
    <h1>About Splurty</h1>
    
    <p>
        Splurty was built by <a target="blank" href="http://github.com/MCyphers">Morgan Cyphers</a> thanks to the lovely team at the Firehose Project.
    </p>
    <br />
    <p>
        When Morgan first started The Firehose Project, he barely even knew what a programming language was! Now he's an aspiring developer bursting into the web development world building apps using Ruby on Rails!
    </p>
    <p>
        If you want to learn how to code - start <a target="blank" href="http://thefirehoseproject.com/"> here</a>
    </p>
    
    <div class="row">
        <div class="col-12 col-sm-4">
            <%= image_tag 'me.jpg', class: 'img-fluid' %>
        </div>
    </div>
</div>

 <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Morgan Cyphers</h2>
      <br />
      <p>
        <a target="blank" href="https://www.facebook.com/morgan.cyphers.3">Morgan Cyphers</a> is a dog loving, river romping, extroverted introvert that is always looking for his next adventure. Give him a buzz!    
        </p>
    </div>
  </div>
  <br class="clear" />
  <br />
<br />
<br />
<br />
